:root {
    --fuente:'Comic Neue', 'Comic Sans MS', 'Chalkboard SE', sans-serif;
}

img {
	max-width: 100%;
}

.alinear-centro {
	text-align: center;
}

.alinear-izquierda {
	text-align: left;
}

.texto-resaltado {
	background-color: #F47A0B;
	padding: 5px; /* Opcional: añade relleno para que el fondo se vea mejor */
	text-align: right;
	font-weight: 700;
}

a {
	color: #000000;
}

body {
	font-family: sans-serif;
	background-color: #f4f4f4; /* Un gris claro */
	color: #000000;
	margin: 0;
	line-height: 1.2; /* Interlineado para mejor legibilidad */	
	padding: 10px;
}

header {
	background-image: url('images/bg-comic.jpg');
	background-size: cover;
	color: black; 
	padding: 10px;
	font-family: var(--fuente);
	font-weight: 700;
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.9); /* Sombra semi-transparente */
	overflow: hidden; /* Oculta el contenido que se desborda */
	margin-bottom: 10px;
}

header img {
	width: 100%;
	height: auto;
	display: block; /* Evita espacios en blanco innecesarios */
	object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}

header p {
	margin-top: 5px; /* Reduce el margen superior */
	margin-bottom: 5px; /* Reduce el margen inferior */
}

nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; /* Agrega esta línea */
	list-style: none; /* Quitar viñetas */
	justify-content: center; /* Centra los elementos horizontalmente */
	margin: 0 20px; /* Ajusta el margen para separar los elementos */
	padding-left: 0;
}


nav ul li {
	margin: 10px 0; /* Ajusta el margen para móviles */
}

nav ul li a {
	color: white;
	text-decoration: none;
	padding: 5px 10px;
}

nav ul li a:hover {
	text-decoration: underline; /* Subrayar al pasar el ratón */
}

nav {
	background: black;
	color: white;
	padding: 20px;
	margin-bottom: 10px; /* Agrega margen inferior */
	margin-top: 10px; /* Agrega margen superior */
}

section {
	position: relative; /* Necesario para que h2 se posicione respecto a section */
	padding: 100px 20px 30px 20px; /* Asegura que no se superponga el contenido */
	border: 2px solid black;
	background-image: url('images/bg-paper.jpg');
	margin-bottom: 10px;
	margin-top: 10px;
}

.section-inverted {
	background: black;
	color: #ffffff;
}

.section-inverted a {
	color: white;
}

.section-inverted h2 {
	background-image: none;
	background-color: black;
	border: 2px solid white;
}

.section-inverted h2::before {
	border-top: 40px solid white; /* Ajusta el tamaño del triángulo */
}

.section-gallery, .section-gallery-100 {
	text-align: center;
}

.section-gallery img{
	margin: 5px;
	border-radius: 5px;
	max-height: 200px;
	max-width: 100%;*/
	/*width: auto;*/
	transition: transform 0.3s ease; /* Transición suave */
}
 
.section-gallery-100 img{
	margin: 5px;
	border-radius: 5px;
	max-height: 100px;
	max-width: 100%;*/
	transition: transform 0.3s ease; /* Transición suave */
}

.section-gallery img:hover, .section-gallery-100 img:hover {
	transform: scale(1.05); /* Ligeramente más grande al pasar el ratón */
}

.more{
	border: 2px solid black;
	padding: 6px;
	margin: 0;
	position: absolute; /* Lo posiciona dentro del section */
	bottom: -2px;
	right: -2px;
}

.image-container {
	display: flex; /* Reemplaza <center> */
	justify-content: center; /* Reemplaza <center> */
	padding: 20px;
	/*width: 100%; /* Asegura que la sección ocupe el ancho disponible */
	/*box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

.image-container img {
	max-width: 400px;
	width: 100%; /* La imagen ocupa el ancho de la sección */
	height: auto; /* La altura se ajusta proporcionalmente */
	object-fit: contain; /* Ajusta la imagen sin recortarla */
	transition: transform 0.3s ease; /* Transición suave */
	/*display: block;*/
}

.image-container img:hover {
	transform: scale(1.05); /* Ligeramente más grande al pasar el ratón */
}


#logos {
	text-align: center;
	padding-top: 20px;
}

#logos img {
	max-height: 100px;
}

h2 {
    font-family: var(--fuente);
}

h2 {
	border: 2px solid black;
	padding: 10px;
	margin: 0;
	margin-bottom: 30px;
	position: absolute; /* Lo posiciona dentro del section */
	top: -2px;
	left: -2px;
}
	
h2::before {
	content: "";
	position: absolute;
	bottom: -40px; /* Ajusta la posición vertical */
	left: 20px; /* Ajusta la posición horizontal */
	border-top: 40px solid black; /* Ajusta el tamaño del triángulo */
	border-left: 30px solid transparent;
	border-right: 0 solid black;
	width: 0; /* Evita que herede ancho */
	height: 0; /* Evita que herede altura */
}

#on-air iframe {
	max-width: 100%; /* Ocupa todo el ancho en móviles */
	/*height: auto; /* La altura se ajusta automáticamente */
}

#pie {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0px;
	padding-bottom: 0px;
	height: 150px;
	background-image: url('images/bg-tapas.jpg');
	background-size: cover;
	font-weight: 700;
}

#volver-arriba {
	display: none; /* Oculta el botón inicialmente */
	position: fixed; /* Posicionamiento fijo */
	bottom: 20px; /* Distancia desde la parte inferior */
	right: 20px; /* Distancia desde la derecha */
	color: white; /* Color del texto */
	padding: 10px; /* Espacio interno */
	text-decoration: none; /* Elimina el subrayado del enlace */
	z-index: 999; /* Asegura que esté encima de otros elementos */
}
  
#volver-arriba img {
	width: 50px; /* Ajusta el tamaño del icono */
	height: 50px;
}
  
.modal {
	display: flex;
	flex-direction: column; /* Cambia la dirección a columna */
	display: none; /* Oculta el modal inicialmente */
	position: fixed; /* Posicionamiento fijo */
	z-index: 1; /* Asegura que esté encima de otros elementos */
	left: 0;
	top: 0;
	width: 100%; /* Ancho completo */
	height: 100%; /* Alto completo */
	overflow: auto; /* Habilita el desplazamiento si la imagen es muy grande */
	background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro semitransparente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
 
  }

.modal-contenido {
	display: block;
	max-width: 80%; /* Ajusta el ancho máximo */
	max-height: 80%; /* Ajusta la altura máxima */
}
  
.cerrar {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
  
.cerrar:hover,
.cerrar:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

#caption {
	margin: 10px auto;
	text-align: center;
	color: #ccc;
	font-family: var(--fuente);
	font-weight: 700;
  }

  .anterior,
  .siguiente {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	cursor: pointer;
  }
  
  .anterior {
	left: 10px;
  }
  
  .siguiente {
	right: 10px;
  }


/* Media query para pantallas más anchas (escritorio) */
@media (min-width: 768px) {
	header img {
		width: auto;
	}

	.row-1 {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        gap: 20px;
    }

	.row-2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .row-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .row-4 {
        display: grid;
        grid-template-columns: 1fr 240px;
        gap: 20px;
    }

    .row-5 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

	.row-6 {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 20px;
    }


	nav ul {
		justify-content: left; /* Centra los elementos horizontalmente */
	}

.sidebar ul{
	flex-direction: column; 
}

}